<div class="wrapper-md">

    <div class="panel">
        <div class="wrapper-lg">
            <h3 class="m-t-none">Qual foi a resposta dele?</h3>
            <div class="line line-lg b-b b-light"></div>
            <div>
                <div class="radio m-b-md">
                    <label class="i-checks">
                        <input type="radio" name="answer" value="">
                        <i></i> Soube responder
                    </label>
                </div>
                <div class="radio m-b-md">
                    <label class="i-checks">
                        <input type="radio" name="answer" value="">
                        <i></i> Não soube responder
                    </label>
                </div>
                <div class="radio m-b-md">
                    <label class="i-checks">
                        <input type="radio" name="answer" value="">
                        <i></i> Teve dúvida
                    </label>
                </div>
                <div class="radio">
                    <label class="i-checks">
                        <input type="radio" name="answer" value="">
                        <i></i> Outro
                    </label>
                </div>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted text-right">
                <a href="#/complete" class="btn btn-lg btn-success btn-addon">
                    <i class="fa fa-check"></i> Enviar resposta
                </a>
            </div>
        </div>
    </div>

</div>