<div class="wrapper-md">

    <div class="panel">
        <div class="wrapper-lg">
            <h3 class="m-t-none">Pergunte para ele sobre a cultura romana</h3>
            <div class="line line-lg b-b b-light"></div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                </p>
                <h4 class="m-t-lg">Material Auxiliar</h4>
                <ul>
                    <li><a href="#" class="text-info">Documentário sobre Roma</a></li>
                    <li><a href="#" class="text-info">PDF de Roma</a></li>
                </ul>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted text-right">
                <a href="#/answer" class="btn btn-lg btn-success btn-addon">
                    <i class="fa fa-thumbs-o-up"></i> Missão Cumprida
                </a>
            </div>
        </div>
    </div>

</div>