<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
    <small class="text-muted">Bem vindo ao {{applicationName}}</small>
</div>

<div class="wrapper-md">

    <div class="row">
        <div class="col-md-6">

            <div class="row row-sm text-center">
                <div class="col-xs-6">
                    <div class="panel padder-v item">
                        <div class="h1 text-info font-thin h1">10</div>
                        <span class="text-muted text-xs">Escolas</span>
                        <span class="bottom text-right w-full">
                            <i class="fa fa-building text-muted m-r-sm"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <a href="" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block">210</span>
                        <span class="text-muted text-xs">Turmas</span>
                        <span class="bottom text-right w-full">
                            <i class="fa fa-users text-muted m-r-sm"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="" class="block panel padder-v bg-info item">
                        <span class="text-white font-thin h1 block">1450</span>
                        <span class="text-muted text-xs">Mensagens enviadas</span>
                        <span class="bottom text-right w-full">
                            <i class="fa fa-comment text-muted m-r-sm"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-6">
                    <div class="panel padder-v item">
                        <div class="font-thin h1">57</div>
                        <span class="text-muted text-xs">Disciplinas</span>
                        <span class="bottom text-right w-full">
                            <i class="fa fa-graduation-cap text-muted m-r-sm"></i>
                        </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="panel">
                <div class="panel-body">
                    <div chart-donut></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">
                    <div chart-line></div>
                </div>
            </div>

        </div>
    </div>

</div>