<div class="bg-light lter b-b wrapper-md clearfix">

    <h1 class="m-n font-thin h3 text-black">Enviar mensagem</h1>
    <small class="text-muted">
        Mensagens para a turma
        <strong class="text-info">1º série B</strong>
    </small>

</div>

<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="panel-heading">Informções</div>
        <div class="panel-body">
            <p class="text-muted">Preencha as informações para enviar a pergunta</p>
            <form>
                <div class="form-group">
                    <label>Pergunta</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea rows="7" class="form-control"></textarea>
                </div>

                <div class="line line-lg m-t-lg m-b-lg b-b b-light"></div>

                <div class="form-group">
                    <h4>Material adicional</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Titulo</td>
                                <td>Url</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-right">
                        <button class="btn btn-success btn-addon">
                            <i class="fa fa-plus"></i> Adicionar
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="text-right">
        <a href="#/messages/sent" class="btn btn-addon btn-primary btn-lg">
            <i class="fa fa-send"></i> Enviar
        </a>
    </div>

</div>